SMS SERVICE
SMS SERVICE


S



EB.TABLE.DEFINITIONEB.TABLE.DEFINITIONEB.TABLE.DEFINITIONEB.JBL.SMS.PARAMETEREB.JBL.SMS.PARAMETEREB.JBL.SMS.PARAMETEREB.JBL.SMS.PARAMETEREB.JBL.SMS.PARAMETEREB.JBL.SMS.PARAMETERPGM.FILEPGM.FILEBATCHBATCHTSA.SERVICETSA.SERVICEEB.APIEB.APIEB.APIEB.APIEB.APIEB.APIEB.APIEB.APIEB.API
JBL.SMS.BOOKJBL.SMS.STOREJBL.SMS.PARAMETERACCOUNT.NEWACCOUNT.UPDATEACCOUNT.CLOSECHEQUE.COLLECTIONFUNDS.TRANSFERTELLERSmsServiceRtnOnDemandSmsServiceBNK/SMS.SERVICEBNK/SMS.SERVICE.ON.DMDBNK/SMS.SERVICEBNK/SMS.SERVICE.ON.DMDAaAccountSmsAuthRtnChqCollSmsAuthRtnFtSmsAuthRtnTtSmsAuthRtnOnDemandSmsCmdOnDemandSmsServiceOnDemandSmsService.SELECTSmsServiceRtnSmsServiceRtn.SELECT

 
R22
20230910
















2309101352
70_FARID_OFS_BROWSERTC
GB0010001
