@IDSERVICEDESCRIPTIONSERVER.NAMEWORK.PROFILEUSERK.USERSERVICE.CONTROLLOCAL.REFRECORD.STATUSCURR.NOINPUTTERDATE.TIMEAUTHORISERCO.CODEDEPT.CODEAUDITOR.CODEAUDIT.DATE.TIMEREVIEW.TIMETIME.OUTATTRIBUTE.TYPEATTRIBUTE.VALUEDATESTARTEDSTOPPEDELAPSEDTRANSACTIONSSERVER.STATUSFREQUENCYSTOPPAGE.TIMESTOP.COUNTMAX.START.TIMEMIN.START.TIMENO.OF.RUNS.PER.DAYOVERRIDECORRELATION.IDFEEDER.QUEUE
DDDDDDPDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
001235USER6142627282930313233347891015161718194112021222324251213
IN2ANYIN2ANYIN2ANYIN2ANYIN2ANYIN2ANYIN2ANYIN2A&STOP_START_AUTO_DEBUGIN2ANYIN2AIN2IN2AIN2IN2AIN2AIN2AIN2AIN2IN2IN2IN2ANYIN2ANYIN2D&&NOINPUTIN2ANY&&NOINPUTIN2ANY&&NOINPUTIN2ANY&&NOINPUTIN2&&NOINPUTIN2AIN2ANYIN2IN2IN2ANYIN2ANYIN2IN2A&&NOINPUTIN2ANYIN2A

50L50L65L65L30L25L25L10L10L6L6R100L15R100L11L4L16L15R5R5R30L65L8R25L25L25L11R8L30L5R3R5L5L5R35L80L35L
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN


SSMMMSSSMSSMMSSSSSSSMMMMMMMMSSSSSSMSS
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

TSA.WORKLOAD.PROFILEUSERUSER





























7
1_202203
2205010559
20_TRAIN511_OFS_MB.OFS
GB0010001
1
