{"swagger":"2.0","info":{"description":"getCustomer","version":"v1.0.0","title":"getCustomer"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["https"],"security":[{"basicAuth":[]}],"paths":{"/party/customer/info/{customerId}":{"get":{"operationId":"getCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"header","required":false,"type":"string"},{"name":"companyId","in":"header","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerResponse","schema":{"$ref":"#/definitions/CustomerResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"CustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"data":{"$ref":"#/definitions/CustomerResponseBody"}},"description":"CustomerResponse"},"CustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"addresses":{"type":"array","description":"Holds unstructured address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code","items":{"type":"object","properties":{"street":{"type":"string","description":"The first line of the base address of a customer or prospect","maxLength":35},"addressCity":{"type":"string","description":"The town and/or city component of the base address of a customer","maxLength":35},"postCode":{"type":"string","description":"The postal code of the customer or prospect","maxLength":35},"country":{"type":"string","description":"The country component of the base address of a customer","maxLength":35},"addressDetails":{"type":"array","items":{"type":"object","properties":{"addressDetail":{"type":"string","description":"Holds unstructured address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code","maxLength":35}}}}}}},"contactDetails":{"type":"array","description":"The phone number of the customer or prospect","items":{"type":"object","properties":{"contactType":{"type":"array","items":{"type":"object","properties":{"contactType":{"type":"string","description":"","maxLength":10}}}},"emails":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":"Email Identifier of the Customer","maxLength":50}}}},"phoneNumbers":{"type":"array","items":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number of the customer or prospect","maxLength":17}}}},"mobilePhoneNumbers":{"type":"array","items":{"type":"object","properties":{"mobilePhoneNumber":{"type":"string","description":"","maxLength":17}}}}}}},"legalDoc":{"type":"array","items":{"type":"object","properties":{"legalDocumentName":{"type":"string","description":"Name of the legal documents such as passport, driving licence etc., provided as identification proof","maxLength":35},"legalId":{"type":"string","description":"Unique reference number of the legal documents submitted as identification proof","maxLength":35},"legalHolderName":{"type":"string","description":"Name of the account holder in the Legal Document","maxLength":100},"legalIssueDate":{"type":"string","format":"date","description":"Date of Issue of the legal document"},"legalExpiredDate":{"type":"string","format":"date","description":"Expiry date of the legal document submitted as proof"}}}},"anyFields":{"type":"array","items":{"type":"object","properties":{"anyField":{"type":"string","description":"","maxLength":30}}}},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"title":{"type":"string","description":"Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages.","maxLength":15},"gender":{"type":"string","description":"Gender of the Individual Customer","maxLength":10},"customerMnemonic":{"type":"string","description":"Specifies an alternative easy means of referencing the Customer","maxLength":10},"customerName":{"type":"string","description":"Name of the customer","maxLength":35},"firstName":{"type":"string","description":"","maxLength":50},"lastName":{"type":"string","description":"The last name of an individual customer","maxLength":50},"maritalStatus":{"type":"string","description":"Marital status of the customer","maxLength":15},"dateOfBirth":{"type":"string","format":"date","description":"The date of birth of an individual customer"},"customerStatus":{"type":"string","description":"The internal bank status of a customer","maxLength":4},"statusName":{"type":"string","description":"An institution-defined high level description or segmentation of the customer","maxLength":4},"nationalityId":{"type":"string","description":"The identifier of the nationality of a customer","maxLength":2},"residenceId":{"type":"string","description":"The identifier of the country of residence of a customer","maxLength":2},"accountOfficerId":{"type":"string","description":"The identifier of the department head or specific account officer responsible for the customer","maxLength":4},"accountOfficerName":{"type":"string","description":"Name of the Account/Relationship Officer attached to the Customer","maxLength":4},"industryId":{"type":"string","description":"An institution-defined identifier of the industry in which the customer is trading, operating or is associated with","maxLength":4},"industryName":{"type":"string","description":"Industry associated with the Customer","maxLength":4},"sectorId":{"type":"string","description":"An institution-defined identifier of the type of customer","maxLength":4},"sectorName":{"type":"string","description":"","maxLength":4},"languageId":{"type":"string","description":"Represents the language code of the underlying Entity/Company/Branch.","maxLength":2},"birthIncorpDate":{"type":"string","format":"date","description":"Date on which the entity is incorporated"},"target":{"type":"string","description":"Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy","maxLength":4},"targetName":{"type":"string","description":"Describes the target in an abbreviated form which can be used for reporting when space is limited.This can be expanded to allow the User to enter a short description of the Target code in various languages. "},"customerType":{"type":"string","description":"","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}